* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 50px;
}

main {
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2.5rem;
   margin: 2.5rem 5rem 5rem 5rem;
}